body {
    /*sets background color*/
    background-color: #cacdfa; 
    /*sets font of text*/
    font-family: "Georgia", Georgia, 'Times New Roman', Times, serif;
    /*aligns the text*/
    text-align: left;
    /*editing the margin*/
   margin = 40px;
}

h1 {
    padding-left: 20px;
    /*sets color of header text*/
    font-size: 50px;
    color: #131754;
    /*aligns the text*/
    text-align: left;
}
h2 {
    padding-left: 20px;
    /*sets color of header text*/
    font-size: 40px;
    color:#131754;
    /*aligns the text*/
    text-align: left;
}

div {
    width: 32cm;
    height: 5cm;
    background-color: #cacdfa;
    text-align: right; /*aligns text and div container to the right side*/
    text-wrap-mode: wrap; /*wraps text*/
}

p { /*regular text formatting*/
    padding-left: 30px;
    color: #0d114a;
}
h3 { /*about me section*/
    color: #131754;
}

h4{ /*connect with me section*/
    padding-left: 20px;
    color: #131754;
    /*aligns the text*/
    text-align: left;
}

/*customizing looks for hyperlinked buttons*/
a {
    text-decoration: none; /*removes the default style of link*/
    background-color: #3a41b0;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    /*adjusting the border color and thickness*/
    border: #131754 3px;
    cursor: pointer;
}

/*how button appears when user hovers with their cursor*/
a:hover {
    background-color: #3037a1;
}
